
.headline{
    background-image: url("../imgs/istockphoto-916057678-612x612.jpg");
    background-repeat: repeat-x;
    background-size:50%
    
}

.menu{
    display: inline-block;
    width: 70%;
    height: 50%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    
}  
.menu h1{
    color:white;
    text-shadow: 2px 2px 4px wheat;
    font-size: 50px;
    padding: 1px;
}

.menu img{
   border-radius: 40px;
    width: 40%;
    height: 40%;  
    margin-top: 10px;
    box-shadow: 0px 0px 15px currentcolor;
    border: 5px solid currentcolor;

}

.container{
    display: inline-block;
    
    width:100%;
   
    vertical-align: text-top;
}

#image{
   margin-top: 30px;
    width: 300px; 
    height: 200px;
   margin-left: 4%;
   border-radius: 40px;
   box-shadow: 0px 0px 15px currentcolor;
   border: 5px solid currentcolor;
  
}
 .paragraph{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: left;
    text-align: justify;
   color: whitesmoke;
   margin-top:1%;
   margin-left: 2%;
   font-family: arial;
   font-size: 20px;
   font-weight: bold;
}
.group{
    display: inline-block;
    width: 100%;
    height: 50%;
    background: rgb(182, 171, 171);
}
h1{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    color: black;
}

.container1{
    display: inline-block;
    vertical-align: text-top;
    width: 30%;
    margin-left: 2%;
    margin-right: 1%;
}
    
 #img1{  
    display: inline-block;
   text-align: center;
    width:50px;
    height: 70px;
  margin-left: 46%;
  margin-right: 50%;
  
}
 .paragraph1{
    
    text-align: center;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
} 


.container2{
    display: inline-block;
    vertical-align: text-top;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
}
 #img2 {
     display: inline-block;
     text-align: center;
     margin-left: 46%;
     margin-right: 50%;
    width:50px;
    height: 70px;
}
.paragraph2{
    
   text-align: center;
   font-family: arial;
   font-size: 20px;
   font-weight: bold;
   color: black;
   text-decoration: underline;

}

.container3{
    display: inline-block;
    vertical-align: text-top;
    width: 30%;
    margin-left: 1%;
    
}
#img3{
    display: inline-block;
    text-align: center;
    margin-left: 46%;
    margin-right: 50%;
    width:50px;
    height: 70px;
   
}
.paragraph3{
    text-align: center;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}


.group1{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: black;
    
    
}
   

.menu2{
    display: inline-block;

    background: black;
}

.img1{
    margin-left: 1%;
    width:34%;
    height: 340px;
    border-radius: 40px;
}
.img2{
    width:30%;
    height: 340px ;
    
}
.img3{
    width:34%;
    height: 339px;
    border-radius: 40px;
}
.foot{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../imgs/istockphoto-611867074-612x612.jpg");

}
.foot a{

    display:inline-block;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    color: white;
    width: 100%;
    height: 60px;
    font-weight: bold;
    padding-top: 40px;
}
